
.w-100{width: 100%!important;}
.w-50 {width: 50%!important;}
.h-100{height: 100%!important;}
.h-50 {height: 50%!important;}

.lh-11{line-height: 1.1}
.circulator{
    position:absolute!important;
    top: calc(50% - 30px)!important;
    left: calc(50% - 30px)!important;
}

.headline, .title{user-select:none;}