@for $i from 1 through 10 {
    .w-#{10 * $i} { width:  10% * $i !important; }
    .h-#{10 * $i} { height: 10% * $i !important; }
}

.lh-11{line-height: 1.1}
.circulator{
    position:absolute!important;
    top: calc(50% - 30px)!important;
    left: calc(50% - 30px)!important;
}

.headline, .title
{user-select:none;}